<footer class="footer">
  <div class="download_our_app top_subsc">
    <div class="content_footer_right">
      <h4>Download our free iOS,  Android app <br>and order food online the fastest way possible.</h4>

      <div class="content_footer_right_app">
        <a href="javascript:;"><img src="http://demo.localao.com/assets/front/oneplus/images/mobil_app.png" alt="messages.Apple store"></a>
        <a href="https://play.google.com/store/apps/details?id=com.app.OddappzFood&amp;hl=en" target="_blank"><img src="http://demo.localao.com/assets/front/oneplus/images/android_app.png" alt="messages.Android app"></a>
      </div>
    </div>
  </div>

  <div class="footer_outer">
    <div class="container">
      <div class="footer_common row">
      <div class="download_our_app1">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4>Subscribe to our newsletter</h4>
          <h6>Receive deals from all our top restaurants via e-mail</h6>
        </div>
        <div class="subscribe_footer">
          <form method="POST" action="#" class="subscriber_sce">
            <div class="row">
              <div class="col-md-4">
                <div class="select_city_foot">
                  <input id="exampleInputName1" class="form-control" name="subscribe_name" required="" placeholder="Enter your name" type="text">
                  <input type="hidden" name="language" id="language" value="1">
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input id="exampleInputEmail1" class="form-control" name="subscribe_email" required="" placeholder="Enter your email" type="text">
                  </div>
                </div>
                <div class="col"><button class="btn btn-default" type="button" id="subscribe_btn" title="Subscribe" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">Subscribe</button></div>
              </div>
              </div>
            </div>

          </form>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12" style="display:none;">
          <h4>Download our free iOS,  Android app <br>and order food online the fastest way possible.</h4>
          <a href="javascript:;"><img src="../../../assets/mobil_app.png" alt="messages.Apple store"></a>
          <a href="https://play.google.com/store/apps/details?id=com.app.OddappzFood&amp;hl=en" target="_blank"><img src="../../../assets/android_app.png" alt="messages.Android app"></a>
        </div>

        <div class="copy_rights">
          <div class="social_share">
            <ul>
              <li><a href="https://www.instagram.com/nextbrain" target="_blank" title="Instagram"><i class="glyph-icon fab fa-instagram"></i></a></li>
              <li><a href="http://www.facebook.com/nextbrainitech" target="_blank" title="Facebook"><i class="glyph-icon fab fa-facebook-square"></i></a></li>
              <li><a href="https://twitter.com/nextbrainitech" target="_blank" title="Twitter"><i class="glyph-icon fab fa-twitter-square"></i></a></li>
              <li><a href="https://www.linkedin.com/company/nextbrainitech" target="_blank" title="linkein"><i class="glyph-icon fab fa-linkedin"></i></a></li>
            </ul>

          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="cms_listing">
            <ul>
              <li><a href="http://demo.localao.com/weare-hiring" title="We’re hiring">We’re hiring</a></li>
              <li><a href="http://demo.localao.com/blog " title="Blog">Blog</a></li>
              <li><a href="http://demo.localao.com/about-us" title="About us">About us</a></li>
              <li><a href="http://demo.localao.com/contact-us" title="Contact">Contact</a></li>
              <li><a href="http://demo.localao.com/about-us" title="Our service areas">Our service areas</a></li>
              <li><a title="About us" href="http://demo.localao.com/cms/about-us">About us </a></li>
              <li><a title="How it works" href="http://demo.localao.com/cms/how-it-works">How it works </a></li>
              <li><a title="FAQ" href="http://demo.localao.com/cms/faq">FAQ </a></li>
              <li><a title="Privacy policy " href="http://demo.localao.com/cms/privacy-policy">Privacy policy  </a></li>
              <li class="reviews_cl">
                <a href="http://demo.localao.com/reviews_view" title="Reviews" id="reviews_title">Reviews</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="footer_centermt">
            <div class="cms_listing">
              <address>
                <p><i class="glyph-icon flaticon-paper"></i>oneplus@gmail.com</p>
                <label><i class="glyph-icon flaticon-phone-receiver"></i>+919916259079</label>
              </address>
            </div>
          </div>
        </div>
        <div class="copy_rights">
          <div class="social_share">

            <p>© Nextbrain Technologies Pvt Ltd. All rights reserved.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</footer>
