<div class="offer_tabs_section">
  <div class="container">
    <h4 class="offres_title">Coupon</h4>
  </div>
</div>
<div class="row">
       <div class="container-fluid">
            <div class="offer_common_setions">
              <div class="offers_list">
                <div class="no_store_avlable margin_mt20">
                  <div class="no_store_img">
                    <img src="../../../assets/no_store.png" alt="">
                    <p>No offers available!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

